<section class="has-background-light section">
  <div class="container">
    <p class="has-text-centered title is-4 padded">
      Retain your readers with <span class="has-text-primary">Blogsend.io,</span> the world's simplest blog email newsletter maker ever.
    </p>

    <div class="columns">
      <div class="column is-one-third border-right">
        <p class="subtitle">
          Automate your newsletter to send your posts directly to your readers.
        </p>
        <p class="has-text-centered">
          <a href="https://blogsend.io?ref=blog" class="button is-primary is-rounded">Find out more</a>
        </p>
      </div>
      <div class="column">
        <p class="has-text-centered subtitle">
          ...or check it out for yourself, the widget is right there 😉
        </p>
        <figure class="image is-96x96 centered">
          <img src="/assets/images/arrow-down.svg">
        </figure>
      </div>
    </div>
  </div>
</section>
