<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-weight-bold has-text-primary" href="{{ site.url }}">
      <img class="brand" src="/assets/images/blogsend-logo.svg" alt="{{ site.title }}">
      &nbsp;
      {{ site.title }}
    </a>

    <a role="button" data-target="navMenu" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item" href="https://blogsend.io">
        <span class="icon"><i class="fas fa-share"></i></span>&nbsp;
        Go to Blogsend.io
      </a>
    </div>
  </div>
</nav>
