a, a:visited { color: $primary; }

.navbar a, .navbar a:visited {
  color: $text;

  .brand {
    width: 38px;
    height: 38px;
  }
}

.post {
  .date {
    font-size: 1.2em;
  }

  .content { a:hover { text-decoration: underline; } }
}

.author {
  display: flex;
  padding: 10px 0 30px 0;

  .avatar {
    @extend .is-rounded;
  }

  .name {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0 10px;
    position: relative;
    top: 7px;
  }

  .contact-icons {
    padding-left: 5px;
    position: relative;
    top: 10px;
  }
}

.plain-link {
  color: $text !important;

  &:hover {
    color: $text !important;
    text-decoration: none;
  }
}

.rubik {
  .platform-title {
    text-align: center;
    font-size: 1.2em;
  }

  .category {
    font-weight: bold;
    width: 25%;
    text-align: right;
  }

  .score {
    width: 15%;
    text-align: center;
  }

  .description {
    width: 60%;
  }
}

.masthead figure {
  background-size: cover;
  background-position: center center;
}

.logo-centered {
  padding: 15px 0;

  figure {
    margin: 0 auto;
  }
}

.subscribe-box {
  #blogsend {
    margin-top: 20px;
  }
}
