---
---
@charset 'utf-8';

@import 'font';

$family-primary: 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$subtle-shade: #dedede;
$primary: rgb(17, 171, 255);

$text: #383838;

@import '../node_modules/bulma/bulma.sass';
@import 'blog';
